/* =============================================================================
   HTML5 display definitions
   ========================================================================== */


body{ background: #232937; }

header { color: #FFF; font-size: 17px; font-family: 'Lucida Sans', Lucida Grande, Verdana, Arial, Sans-Serif; padding: 0 0 10px 20px; }
	header p{ display: inline-block; *display: inline; }
	header a, header a:hover, header a:visited{ color: #FFFFFF; text-decoration: none;}
	header a:hover { text-decoration: underline;}
	
h1, h2{ display: inline-block; *display: inline; font-weight: 100; color: #FFF; font-size:1em;  }



