body{background: #232937; color: #FFF; 
     font-family:"Courier New", Courier, monospace}
h1, h2{margin: 20px 0px 0px 0px;}
header p{margin: 0px 0px 0px 2px;}
article p{margin: 0px 0px 0px 10px;}
a, a:hover, a:visited{color: #FFF; text-decoration: none;}
a:hover {text-decoration: underline;}
